#linhaAzul{
    color: #0351A0;
}

#linhaVerde{
    color: #138568;
}

#linhaVermelha{
    color: #F53D31;
}

#linhaAmarela{
    color: #FFD400;
}

#linhaLilas{
    color: #7950A1;
}

#linhaRubi{
    color: #9C1564;
}

#linhaDiamante{
    color: #9D9F93;
}

#linhaEsmeralda{
    color: #00A78E;
}

#linhaTurquesa{
    color: #027A8B;
}

#linhaCoral{
    color: #F64E22;
}

#linhaSafira{
    color: #063B88;
}

#linhaJade{
    color: #09A65C;
}

#linhaPrata{
    color: #7F8488;
}

#corpo{
    align-items: center;
    text-align: center;
}

.pula{
    margin-top: 15px;
    display: inline-flex;
    width: 100%;
}

.linhas{
    border: solid #a1a6a6;
    border-width: 2px;
    width: 320px;
    height: 110px;
    margin-right: 10%;
    margin-left: 5%;
    display: flexbox;
    align-items: center;
}

.ultimasLinhas{
    border: solid #a1a6a6;
    border-width: 2px;
    width: 200px;
    height: 110px;
    margin-right: 12%;
    margin-left: 10%;
    display: flexbox;
    align-items: center;
}

.ultimaLinha{
    display: inline-flex;
    align-items: center;

}

select{
    text-align: center;
}