#linhaAzul{
    color: #0351A0;
}

#linhaVerde{
    color: #138568;
}

#linhaVermelha{
    color: #F53D31;
}

#linhaAmarela{
    color: #FFD400;
}

#linhaLilas{
    color: #7950A1;
}

#linhaRubi{
    color: #9C1564;
}

#linhaDiamante{
    color: #9D9F93;
}

#linhaEsmeralda{
    color: #00A78E;
}

#linhaTurquesa{
    color: #027A8B;
}

#linhaCoral{
    color: #F64E22;
}

#linhaSafira{
    color: #063B88;
}

#linhaJade{
    color: #09A65C;
}

#linhaPrata{
    color: #7F8488;
}